body {
 
}

.chat{
    margin-top: 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

h3 {
    color: white;
    font-weight: bolder;
}
.col1 {
    background-color: lightblue;
}
.col2 {
    background-color:white;
}
.titles1  {
    height: 60px;
    font-weight: bolder;
    font-size: xx-large;
    padding-left: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    color: white;
    
}
.titles2 {
    height: 60px;
    font-weight: bolder;
    font-size: x-large;
    padding-left: 10px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    
}

.users {
    min-height: 500px;
}

.messages {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding:0;
    list-style: none;
    height: 500px;
    overflow-y: auto;
    
   
}



.messages2  {
    
    position: relative;
    max-width: 255px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px 20px;
    line-height: 24px;
    word-wrap: break-word;
    border-radius: 25px;
    background-color: aqua;
    
    
}

.alignment-start{
    align-self: flex-start;

}

.alignment-end {
    align-self: flex-end;
    background-color: gray;
}



input {
    width: 100%;
}

.login {
    background-color: lightblue ;
    height: 300px;
    width: 500px;
    margin-top: 100px;
    border-radius: 10px;
}

.mb-3{
    margin-top: 100px;
}

.sign-out {
    margin-bottom: 10px;
}

.unordered-list {
    margin-left: 20px;
}